/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Channel area */

li.channelArea {
  width: 199px;
}

h3 {
  margin: 20px 20px 0 20px;
}

.channelsList {
  padding: 10px 15px;
}

ul.channelsList > li {
  padding: 0 5px;
  height: 20px
}

ul.channelsList > li:hover {
  background-color: black;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/* Header */

div.header {
  padding: 10px 10px 10px 10px;
  background-color: #000;
  font-size: 150%;
  color: #fff;
  height: 50px;
}

.messagingArea div.header {
  position: absolute;
  left: 200px;
  top: 0;
  right: 0;
}

/* Messages */

div.messages {
  position: absolute;
  overflow-y: scroll;
  left: 200px;
  top: 50px;
  bottom: 60px;
  right: 0;
}

div.messages ul {
  margin: 0;
  padding: 10px 20px;
}

li.message {
  font-size: 150%;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

div.messagebox {
  position: absolute;
  bottom: 0;
  left: 200px;
  right: 0;
  font-size: 100%;
}

.messagebox input {
  border: 10px solid #000;
  outline: none;
  padding-left: 10px;
  font-size: 100%;
  width: 100%;
  height: 60px;
}

.inputChatroom {
  padding: 10px 20px 10px 20px;
}

.inputChatroom input {
  font-size: 100%;
  width: 100%
}